<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <div class="topnav">
    <a href="http://localhost:5000/" style="padding: 7px 4px;"><img src="{{ url_for('static', filename='dog.png') }}" class="icon" /></a>
    <a class="active" href="http://localhost:5000/">Home</a>
    <a href="http://localhost:5000/question">Ask a Question</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>

<form action="http://localhost:5000/answer" method="post">
  <input type="file" />
</form>
  
</body>
<a href="https://www.flaticon.com/free-icons/address-book" title="address book icons">Address book icons created by Pixel perfect - Flaticon</a>